* {
    margin: 0;
    padding: 0
}

body {
    font-size: 2rem;
    font-family: sans-serif;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    background-color: slategrey;
}

h1, h2, h3 {
    margin: 0;
    padding: 0px;
}

.App {
    position: relative;
    
    flex-direction: row wrap;
    display: flex;
    flex-wrap: nowrap;
    
}

.Card {
    position: relative;
    width: 100%;
    padding: 15px;
    margin: 40px;
    box-shadow: 5px 5px 10px #3a3a3a;
    border: 2px #676767;
    border-radius: 1rem;
    transition-duration: 0.6s;
}

.ButtonColors {
    width: 100%;
    display: flex;
}

.ButtonColors button {
    width: 2.5rem;
    height: 2.5rem;
    box-shadow: 1px 1px 3px #676767;
    border: 2px solid #fff;
    padding: 15px;
    margin: 15px;
    border-radius: 2px;
    align-items: center;
    background-color: rgb(226, 152, 82);
    font-size: 1.2rem;
    cursor: pointer;
}

.hr1 {
    border: 1px solid white;
    background-color: white;
}

.TextContainer {
    position: relative;
    display: block;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 10px;
}

.TextContainer .titolo {
    font-size: 2.3rem;
}

.TextContainer h1 {
    font-size: 2.3rem;
    padding:10px;
}
.TextContainer h2 {
    font-size: 3rem;
    padding:10px;
}
.TextContainer p {
    font-size: 1.8rem;
    padding:10px;
}

.ToolTip {
    position: absolute;
    top: 0px;
    display: flex;
    box-shadow: 2px 2px 3px #67676783;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    z-index: 10;
    cursor: pointer;    
    background-color:#fbe17b;
}

.ToolTip .ToolTipBox {
    padding: 20px;
    font-weight: bold;
    border: 2px #000;
}
.ToolTip .ToolTipBox:hover {
    color: red
}

.Infopoint {
    position: absolute;
    color: white;
    right: 0;
    top: 0;
    text-align: right;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.infoIcon {
    font-size: 2rem;
    text-shadow: 2px 2px 3px #67676783;
    padding-right: 25px;
    padding-top: 20px;
}

.infoIcon i {
    transition-duration: 0.5s;
}

.infoContainer {
    background-color: white;
    color: black;
    font-size: 1.5rem;
    box-shadow: 2px 2px 3px #67676783;
    z-index: 9;
}

.Droplist {
    display: flex;
    flex-direction: column;
}

.Droplist div {
    border: 0px;
    border-bottom: 1px solid black;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 1rem;
    text-align: center;
}

.Droplist div:hover {
    background-color: #d6d6d6;
}